<li id="<%= schedule_item.id %>">
	<span class="title"> <%= schedule_item.title %></span>
	<span class="time"> <%= schedule_item.start_date %> - <%= schedule_item.end_date %></span>
	<span class="location"><%= schedule_item.location_name %></span>
	<span class="delete">
		<% if current_user.admin? %>
		<%= link_to "delete", event_schedule_path(id: schedule_item.id, event_id: schedule_item.event_id), method: :delete, 
											 data: { confirm: "are you sure?"}, 
											 title: schedule_item.title, class: 'btn btn-small' %>
		<% end %>
	</span>

</li>
