<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @event.location_name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @event.user.nickname %>
</p>

<p>
  <strong>Address:</strong>
  <%= "#{@event.location.address} at [#{@event.location.latitude} ,#{@event.location.longitude}]" if !@event.location.nil? %>

</p>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.location.latitude},#{@event.location.longitude}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:L%7C#{@event.location.latitude},#{@event.location.longitude}" %>
  <%= render 'shared/event_stats' %>
</section>
<div>
  <%= render 'attend_form' if user_signed_in? %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<br />
<h3>Schedule</h3>

<%= render 'shared/schedule' %>
<%= link_to 'Add a new schedule item', new_event_schedule_path(@event), class: "btn" %>
<h4>Events Images</h4>
<%= render @images %>

