<% if show_page == "event" %>
<div class="media">
	<div class="pull-left">	
		<%= image_tag image.image.thumb('150x150#').url if image.image_stored? %> 
	</div>
	<div class="media-body">
		Uploaded <%= time_ago_in_words(image.created_at) unless image.created_at.blank? %> ago <%= "by #{image.user.nickname}" %>
		
		<% if user_signed_in? && current_user.id == image.user_id %>
		<%= link_to "delete", image, method: :delete,
									 data: { confirm: "are you sure?"},
									 title: "Bleh",
									 class: 'btn btn-danger btn-xs' %>
		<% end %>
	</div>
</div>
		

<% else %>

<div class="media">

	<div class="pull-left">
		<% if show_page == "index" %>
		

			<%= image_tag(image.image.thumb('300x300').url, class: "media-object") if image.image_stored? %>
		<% else %>

				<%= image_tag(image.image.thumb('100x100').url, class: "media-object") if image.image_stored? %>
		<% end %>
		</div>
		<div class="media-body">
			<div id= "vote_form-<%= image.id %>">
			<%= render partial: 'votes/vote_form', locals: {vote_item: image} %>
			</div>
			Uploaded <%= time_ago_in_words(image.created_at) unless image.created_at.blank? %> ago <%= "at #{image.event.title}" unless image.event.blank? %>
			<% image.tag_list.each do |t| %>
			<%=  link_to "##{t}", tag_path(t)  %>
			<% end %>

	</div>
</div>

<% end %>